/* CSS for mobile phones */
@media only screen and (max-width: 600px) {
    /* Adjust navbar */
    .navbar-brand img {
      width: 25px;
      height: 25px;
    }
    .navbar-brand {
      font-size: 14px;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .nav-item {
      margin: 5px 0;
    }
    /* Adjust showcase image */
    .showcase-content img {
      width: 100%;
    }
    /* Adjust home-info section */
    #home-info {
      padding: 20px;
    }
    /* Adjust column layout */
    .col-md-6 {
      width: 100%;
      margin-bottom: 20px;
    }
}

    /* Adjust about-info section */
    #about-info {
        padding: 20px;
    }
    .info-left, .info-right {
        text-align: center;
        margin-bottom: 20px;
    }
    .info-right img {
        max-width: 100%;
    }
    /* Adjust testimonials section */
    #testimonials {
        padding: 20px;
    }
    .testimonial {
        margin-bottom: 20px;
    }

  