* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

/*------- Utility Classes--------- */
/* .container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
    background-image: url(../img/);
} */
.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: larger;
}

.btn {
    display: inline-block;
    padding: 13px 20px;
    font-size: 18px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #f7c08a;
    color: #fff;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;

}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c0f7;
    color: #333;
}

.clr {
    clear: both;
}

.l-heading {
    font-size: 40px;
    line-height: 1.2;
}

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

/* ---------Common Classes ----------*/
a {
    text-decoration: none;
}

h1,
h2,
h3 {
    padding: 20px;
    padding-left: 0px;

}

h5 {

    text-decoration: underline red;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font: italic bold 20px Georgia, serif;
}

p {
    margin: 10px 0;
}

#wall {
    background-image: url(./contact.jpg);
    background-repeat: no-repeat;
}

.navbar-brand .text-danger,
.navbar-brand .text-success {
    font-size: 24px; 
}
.navbar-light .navbar-nav{
    align-items: center;
    padding-left: 30px;
}


.navbar-light .navbar-nav .nav-link  {
    color:  blue;
    margin-right: 30px;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #4f7eff;
}
.navbar-light .navbar-toggler-icon {
     color: white;
    filter: invert(100%);
}

.navbar-light .navbar-toggler {
    color: rgba(109, 109, 109, 0.637);
    border-color: rgba(255, 255, 255, 0.747);
}

/* bg image of shadow  */
#showcase {
    background: url('../img/hot.jpg') no-repeat center center/cover;
    height: 800px;
}

#showcase .showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/house2.jpg') no-repeat;
    min-height: 100%;
    /* border: 2px solid blue; */
    border-radius: 15px;

}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 0px;
    overflow: hidden;
    border: 0px;
}

#home-info .info-content p {
    /* padding-bottom: 30px; */
    padding: 0px 30px;
    text-align: justify;
}


.box {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 50px 0;
    border-radius: 15px;

}


.main-footer {
    /* background: #333; */
    color: #fff;
    text-align: center;
    padding: 20px;
    background-image: url(./foot.jpg);
    background-repeat: no-repeat;
}

/* about */
#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-left {
    float: left;
    width: 50%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
    position: relative;
}

#testimonials {
    height: 100%;
    background: url('./bag1.jpg') no-repeat center center/cover;
    padding-top: 100px;
}

#testimonials h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    height: 100px;
    border-radius: 5px;
    opacity: 0.9;

}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    align-items: center;

}

/* contact */
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 100%;
}
.card {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .card {
      max-height: 300px; /* Reset max-height for smaller screens */
    }
    .card-img, .card-img-bottom, .card-img-top {
        width: 100%;
        height: 100px;
    }
    .card-body{
        padding: 0.5rem;
    }
    .card-title {
        margin-bottom: 5px;
    }
    .card-title h5{
        color: rgb(0, 0, 0);
    }
  }


@media screen and (max-width: 768px) {

}
  
@media screen and (max-width: 576px) {
    #showcase {
        height: 600px;
    }
    .info-img {
        float: none;
        width: 100%;
      }
    
    .info-content {
        float: none;
        width: 100%;
    }
    
    .box {
        width: 100%;
    }
}


.rounded-image {
    border-radius: 50%;
    opacity: 0.7;
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}